<header>
  <nav>
    <div class="nav-wrapper grey darken-4">
      <div class="container">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li v-for="item in topLevelNav">
	        <a href="{{item.url}}" class="grey-text text-lighten-2">{{item.name}}</a>
	      </li>
          <li>
          	<a v-if="!login" href="/auth/steam" class="login-button">
          		<img class="steam-icon" src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png">
          	</a>
            <a v-if="login"  href="#!" data-activates="profile-dropdown">
              {{username}}
              <i class="material-icons right tiny">settings</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
